* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    overflow-y:scroll;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
.app h1 {
    font-size: 1.8rem ;
}
.app h2 {
    font-size: 1.6rem;
}
.app h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.app  .pull-left {
    float: left !important;
}

.app  .pull-right {
    float: right !important;
}
.app-logo {
    position: relative;
    margin-top: 20px;
    min-height: 120px;

    background: rgb(74,151,204); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(43,104,146,1) 0%, rgba(74,151,204,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(43,104,146,1) 0%,rgba(74,151,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(43,104,146,1) 0%,rgba(74,151,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2B6892', endColorstr='#4a97cc',GradientType=0 );
}
.app-logo-img {
    height: 120px;
    width: 100%;
    background-image: url('../public/logo.png');
    background-repeat: no-repeat;
    background-position: right;
}

.app-logo-title {
    position: absolute;
    color: white;
    font-size: 1.2rem;
    left: 30px;
    top: 30px;
}

.app-logo-subtitle {
    position: absolute;
    color: #373a3c;
    top: 70px;
    left: 30px;
}

.app-wrap {
    min-height: 140px;
    margin-top: 20px;
}

.app-content {
    position: relative;
    min-height: 400px !important;
}

.app-index-img {
    float: right;
    margin-top: 10px;
    margin-left: 20px;
}

.app-text {
    text-align: justify;
}

.app-text-download-row {
    display: block;
    margin-top: 15px;
}

.app-text-download-icon{
    position: relative;
    left: 1px;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 20px;
}

.app-text-license {
    text-align: justify;
}


.app-row {
    margin-bottom: 15px;
}

.app dd {
    margin-left: 1.0rem;
}
.app dt {
    color: #182c60;
    font-weight: bold;
    line-height: 1.5;
    margin: 5px 0 20px 0;
}

.app dt {
    margin-bottom: 1.0rem;
    font-size: 1.2rem;
}

.app dl {
    margin-left: 0;
    margin-bottom: 1rem;
}

.app footer {
    margin-bottom: 25px;
}

.app-text-thumbnail {
    margin-right: 20px;
}

/* SideBar */

.jcw-sidebar {
    padding-left: 0;
    margin-bottom: 15px;
}

.jcw-sidebar-item {
    position: relative;
    display: block;
    padding: .45rem 1.0rem;
    margin: .2rem 0;
    border-left: 3px solid #FFFFFF;
}
.jcw-sidebar-item:hover, .jcw-sidebar-item:active, .jcw-sidebar-item:focus, .jcw-sidebar-item.active {
    text-decoration: none;
    border-left: 3px solid #0275d8;
    background: #f5f5f5;
}
.jcw-sidebar-mobile-nav {
    position: relative;
    display: block;
    padding: .45rem 1.0rem;
    margin: .2rem 0;
}

@media(max-width: 767px) {
    .jcw-sidebar.closed .jcw-sidebar-wrap {
        max-height: 0px;
    }
    .jcw-sidebar-wrap {
        transition: max-height 0.6s;
        max-height: 550px;
        overflow: hidden;
    }
}

@media(min-width: 768px) {
    .jcw-sidebar-mobile-nav {
        display: none;
    }
}
